<br>
<h2 class="deetHead2">Forgot your password?</h2>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>
<table id="tblDeets2">
 <tr>
    <th><%= f.label 'email:' %></th>
    <td><%= f.email_field :email, autofocus: true, size:"35" %></td>
</tr>
</table>
<br/>
  <div class="actions">
    <%= f.submit "Send me reset password instructions", class:"btype1" %>
  </div>
<% end %>

<!--<%= render "devise/shared/links" %>-->
