<h1>My Bookings</h1>
<table class="table sortable">
  <thead >
      <th data-defaultsort="desc">Date</th>
      <th>Course</th>
      <th class="text-xs-center">Status</th>
      <th data-defaultsort="disabled" class="text-xs-center"></th>
    </tr>
  </thead>
  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.date %></td>
        <td><%= reservation.course.name %></td>
        <% if reservation.status == 'pending' %>
          <td class="text-xs-center text-warning"><%= reservation.status %></td>
        <% elsif reservation.status == 'confirmed' %>
          <td class="text-xs-center text-success"><%= reservation.status %></td>
        <% else %>
          <td class="text-xs-center text-danger"><%= reservation.status %></td>
        <% end %>
        <td class="text-xs-center"><%= link_to 'Details', reservation, class: 'btn btn-primary-outline' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
