<p id="notice"><%= notice %></p>
<br/>
<h1>Booking Details</h1>
<br/>
<%= form_for(@reservation) do |f| %>
<table align="center" width="800" id="tblDeets">
  <tbody>
   <tr>
     <td>
      <b><%= f.label "Booking ID:" %></b>
      <%= f.label @reservation.id %>
     </td>
     <td>
      <b><%= f.label "Booking Date:" %></b>
      <%= f.label @reservation.date %>
     </td>
   </tr>
   <tr>
     <td>
      <b><%= f.label "Created On:" %></b>
      <%= f.label @reservation.created_at %>
     </td>
     <td>
      <b><%= f.label "Course:" %></b>
       <%= f.label @reservation.course.name %>
     </td>
  </tr>
  <tr>
   <td>
    <b><%= f.label "Booked By:" %></b>
    <%= f.label @reservation.member.full_name %>
  </td>
   <td>
    <b><%= f.label "Status:" %></b>
    <% if @reservation.status == "pending" %>
      <%= f.label @reservation.status, class: "pending" %>
    <% elsif @reservation.status == "confirmed" %>
      <%= f.label @reservation.status, class: "confirmed" %>
    <% else %>
      <%= f.label @reservation.status, class: "cancelled" %>
    <% end %>
   </td>
  </tr>
  </tbody>
</table>
<br/>
    <% if @reservation.status == "pending" || @reservation.status == "confirmed" %>
     <p><%= f.button value="Cancel Reservation" %></p>
    <% else %>
    <p><b>THIS RESERVATION HAS BEEN CANCELLED</b></p>
    <% end %>
<% end %>
<br/>
<p><%= link_to 'Back', reservations_path %></p>