<br/>
<div class="goBack" data-no-turbolink>
  <%=
    link_to image_tag(
      'back.png',
      height: 40,
      margin: -10,
      onmouseover: "this.src='#{asset_path('back_hover.png')}'",
      onmouseout: "this.src='#{asset_path('back.png')}'"
    ),
    reservations_path
  %>
</div>
<br/>
<h2 id="deetHead1">Booking Details</h2>

<%= form_for(@reservation) do |f| %>
<table align="center" width="800" id="tblDeets">
  <tbody>
   <tr>
     <td width="50%">
      <b><%= f.label "Booking ID:" %></b>
      <%= f.label @reservation.id %>
     </td>
     <td>
      <b><%= f.label "Booking Date:" %></b>
      <%= f.label @reservation.date %>
     </td>
   </tr>
   <tr>
     <td>
      <b><%= f.label "Created On:" %></b>
      <%= f.label @reservation.created_at %>
     </td>
     <td>
      <b><%= f.label "Course:" %></b>
       <%= f.label @reservation.course.name %>
     </td>
  </tr>
  <tr>
   <td>
    <b><%= f.label "Booked By:" %></b>
    <%= f.label @reservation.member.full_name %>
  </td>
   <td>
    <b><%= f.label "Status:" %></b>
    <% if @reservation.status == "pending" %>
     <b><%= f.label @reservation.status, class: "pending" %></b>
    <% elsif @reservation.status == "confirmed" %>
     <b><%= f.label @reservation.status, class: "confirmed" %></b>
    <% else %>
     <b><%= f.label @reservation.status, class: "cancelled" %></b>
    <% end %>
   </td>
  </tr>
  </tbody>
</table>
<br/>
    <% if @reservation.status == "pending" || @reservation.status == "confirmed" %>
     <p><%= button_to(name="Cancel Reservation", @reservation, method: :delete,class:"btype1")   %></p>
    <% end %>
<% end %>
<br/>
<!--<p><%= link_to 'Back', reservations_path %></p>-->