<p id="notice"><%= notice %></p>

<p>
  <strong>Course:</strong>
  <%= @reservation.course_id %>
</p>

<p>
  <strong>Member:</strong>
  <%= @reservation.member_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @reservation.date %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
