<h1>Booking Details</h1>
<%= form_for(@reservation) do |f| %>
  <div class="form-group row">
    <%= f.label 'Date', class: 'col-sm-2 form-control-label' %>
    <div class="col-sm-10 form-control-label">
      <%= f.label @reservation.date %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label 'Course', class: 'col-sm-2 form-control-label' %>
    <div class="col-sm-10 form-control-label">
      <%= f.label @reservation.course.name %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label 'Date booked', class: 'col-sm-2 form-control-label' %>
    <div class="col-sm-10 form-control-label">
    </div>
  </div>
  <div class="form-group row">
    <%= f.label 'Status', class: 'col-sm-2 form-control-label' %>
    <div class="col-sm-10 form-control-label">
      <% if @reservation.status == 'pending' %>
        <%= f.label @reservation.status, class: 'text-warning' %>
      <% elsif @reservation.status == 'confirmed' %>
        <%= f.label @reservation.status, class: 'text-success' %>
      <% else %>
        <%= f.label @reservation.status, class: 'text-danger' %>
      <% end %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-2">
      <%= link_to 'Back', reservations_path, class: 'btn btn-secondary-outline' %>
    </div>
    <div class="col-sm-10">
      <% unless @reservation.status == 'cancelled' %>
        <%=button_to "Cancel Tee-Time", @reservation, method: :delete, class: 'btn btn-danger-outline' %>
      <% end %>
    </div>
  </div>
<% end %>
