<div class="simple-calendar">
  <div class="row">
    <div class="title col-s-12">
      <h4><%= I18n.t('date.month_names')[start_date.month] %> <%= start_date.year %></h4>
    </div>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th><%= I18n.t("date.abbr_day_names")[day.wday] %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <tr>
          <% week.each do |day| %>
            <%= content_tag :td, class: calendar.td_classes_for(day) do %>
              <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(block) %>
                <% capture_haml do %>
                  <% block.call day, sorted_events.fetch(day, []) %>
                <% end %>
              <% else %>
                <% block.call day, sorted_events.fetch(day, []) %>
              <% end %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="row">
    <div class="col-xs-6" style="padding-top: 0;">
      <%= link_to "< Previous",
          url_for(action: 'new', start_date: date_range.first - 1.day),
          remote: true %>
    </div>
    <div class="col-xs-6" style="padding-top: 0;">
      <%= link_to "Next >",
          url_for(action: 'new', start_date: date_range.last + 1.day),
          remote: true,
          class: 'pull-xs-right' %>
    </div>
  </div>
</div>
