<nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand" href="/"><%= image_tag 'egcircle70.png'%></a>
  <a class="navbar-brand" href="/">ClubEG</a>
  <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#navbar">
    &nbsp;&nbsp;&#9776;
  </button>
  <div class="collapse navbar-toggleable-xs" id="navbar">
    <ul class="nav navbar-nav">
      <% if member_signed_in? %>
      <li class="nav-item">
        <%= link_to 'Book Tee-Time',
                    new_reservation_path,
                    class: "nav-link #{'active' if current_page?(new_reservation_path) || current_page?(root_path)}" %>
      </li>
      <li class="nav-item">
        <%= link_to 'My Bookings',
                    reservations_path,
                    class: "nav-link #{'active' if current_page?(reservations_path)}",
                    'data-no-turbolink' => true %>
      </li>
      <li class="nav-item pull-xs-right">
        <%= link_to 'Logout', destroy_member_session_path, method: :delete, class: 'nav-link' %>
      </li>
      <li class="nav-item pull-xs-right">
        <%= link_to 'Change Password',
                    password_member_path(current_member),
                    class: "nav-link #{'active' if current_page?(password_member_path(current_member))}" %>
      </li>
      <li class="nav-item pull-xs-right">
        <%= link_to 'Edit Profile',
                    edit_member_path(current_member),
                    class: "nav-link #{'active' if current_page?(edit_member_path(current_member))}" %>
      </li>
      <% else %>
      <li class="nav-item pull-xs-right">
        <%= link_to 'Login', new_member_session_path, class: 'nav-link' %>
      </li>
      <% end %>
    </ul>
  </div>
</nav>
