<!DOCTYPE html>
<html>
<head>
  <link rel="icon" href="/assets/eg_icon.gif">
  <title>Club EG</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: 'layouts/nav' %>
  <div class="container">
    <%= render partial: 'layouts/flash', flash: flash %>
    <%= yield %>
  </div>
</body>
</html>
