<!DOCTYPE html>
<html>
<head>
  <title>Executive Golf - Club EG</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= image_tag "eg_logo.gif"%>
  <hr/>
  <div id="cssmenu">
    <ul>
      <li><a href="#"><span>Book Spot</span></a></li>
      <li><a href="#"><span>My Booking</span></a></li>
      <li><a href="#"><span>Edit Profile</span></a></li>
      <li class="last"><a href="#"><span>Logout</span></a></li>
    </ul>
  </div>
  <div id="content">
    <%= yield %>
  </div>
</body>
</html>
