<br/>

<p class="cancelled"><%= flash[:notice] %></p>
<h2 class="deetHead2">Update Password</h2>
<%= form_for @member, :url => {:action => "change_password"}  do |p| %>
<table id="tblDeets2" width="400"> 
<tr>
<th width="30%"><%= p.label 'Current' %></th>
<td><%= p.password_field :current_password, size:"35" %></td>
</tr>
<tr>
<th><%= p.label 'New' %></th>
<td><%= p.password_field :password, size:"35" %></td>
</tr>
<tr>
<th><%= p.label 'Confirm' %></th>
<td><%= p.password_field :password_confirmation, size:"35" %></td>
</tr>
</table>
<br/>
<div class="field">
<%= button_to 'Change Password', @member, method: :put, class:"btype1" %>
</div>
<% end %>