<h1>Update Password</h1>
<p class="cancelled"><%= flash[:notice] %></p>
<%= form_for @member, :url => {:action => "change_password"}  do |p| %>
<div class="field">
<%= p.label 'Current' %><br>
<%= p.password_field :current_password %>
</div>
<br>
<div class="field">
<%= p.label 'New' %><br>
<%= p.password_field :password %>
</div>
<br>
<div class="field">
<%= p.label 'Confirm' %><br>
<%= p.password_field :password_confirmation %>
</div>
<br>
<div class="field">
<%= button_to 'Change Password', @member, method: :put %>
</div>
<% end %>